{% extends 'base.html' %}
{% load static %}

{% block title %}{{ user.username }}'s Profile{% endblock %}

{% block content %}



<div class="outer">
  <div class="maindiv">
    <div class="center text-center">
      <h1>{{ user.username }}'s Profile</h1>
    </div>

	<div class="maindiv">
		<table>
		<tr>
			<th>University</th>
			<td>{{ user.university.name }}</td>
		</tr>
		<tr> 
			<th>Bio</th>
			<td class = "list">
				<div id="bio">
					<p id="bio_text">{{ user.bio }}</p>
					{% if current_user %}
					<button class="submit-button" id="b2" onclick="editBio();">Edit Bio</button>
					{% endif %}
				</div>
			</td>
		<tr>
			<th valign=top>Currently Studying</th>
			<td>
			{% for subject in user.get_student_subjects %}
				<div class="list">
					<div style="width: 90%;">{{ subject }}</div>
					{% if current_user %}
						<form action="{% url 'profile' user.username %}" method="POST">
							{% csrf_token %}
							<input type="hidden" name="remove_subject" value="{{ subject }}" />
							<input style="float: right;" class="submit-button" type="submit" value="Remove Subject">
						</form>
					{% endif %}
				</div>
			{% endfor %}
			{% if current_user %}
				<div class="list">
					<form class="miniform" action="{% url 'profile' user.username %}" method="POST">
						{% csrf_token %}
						<input class="text-input" type="text" name="new_subject" required />
						<input class="submit-button" type="submit" value="Add Subject" />
					</form>
				</div>
			{% endif %}
			</td>
		</tr>
		</table>
	</div>

	<div class="{% if user.tutoring_enabled %}maindiv{% else %}hidden{% endif %}" name="tutoring-section">
		<table>
			<tr>
				<th valign=top>Currently Tutoring</th>
				<td>
				{% for subject in user.get_tutor_subjects %}
					<div class="list">
						<div style="width: 90%;">{{ subject }}</div>
						{% if current_user %}
							<form action="{% url 'profile' user.username %}" method="POST">
								{% csrf_token %}
								<input type="hidden" name="remove_tutor_subject" value="{{ subject }}" />
								<input style="float: right;" class="submit-button" type="submit" value="Remove Subject">
							</form>
						{% endif %}
					</div>
				{% endfor %}
				{% if current_user %}
					<div class="list">
						<form class="miniform" action="{% url 'profile' user.username %}" method="POST">
							{% csrf_token %}
							<input class="text-input" type="text" name="new_tutor_subject" required />
							<input class="submit-button" type="submit" value="Add Subject" />
						</form>
					</div>
				{% endif %}
				</td>
			</tr>

			<tr>
				<th valign=top>Enter Zip Code</th>
				<td>
					<div class="list">
						<div style="width: 100%;">
								<input class="text-input" type="text" id="zip_code" name="zip_code" step="0.01">
								<button class="submit-button" id="zip_button" onclick="saveZip();">Save</button>
							</form>
						</div>
					</div>
				</td>
			</tr>

			<tr>
				<td colspan="2" class="text-center">
					{% if user.tutoring_pay %}
						<p>Current Zip Code: <span id="zip_code_display">{{ user.zip_code }}</span></p>
					{% else %}
						<p>Default Zip Code: <span id="zip_code_display">{{ user.zip_code }}</span></p>
					{% endif %}
				</td>
			</tr>

			<tr>
				<th valign=top>Tutoring Rate (Optional)</th>
				<td>
					<div class="list">
						<div style="width: 100%;">
								<input class="text-input" type="text" id="tutoring_rate" name="tutoring_rate" step="0.01">
								<button class="submit-button" id="pay_button" onclick="savePay();">Create Rate</button>
							</form>
						</div>
					</div>
				</td>
			</tr>
		
			<tr>
				<td colspan="2" class="text-center">
					{% if user.tutoring_pay %}
						<p>User's Tutoring Rate: $<span id="pay_display">{{ user.tutoring_pay }}</span></p>
					{% else %}
						<p>User has not set a tutoring rate yet.</p>
					{% endif %}
				</td>
			</tr>
		</table>
	</div>

	<form method="post" action="{% url 'enable_tutoring' user.username %}">
		{% csrf_token %}
		<button type="submit">Enable Tutoring</button>
	</form>

	{% if user.tutoring_enabled %}
		<p>Tutoring Enabled! You will show up in tutoring searches.</p>
	{% else %}
		<p>Tutoring Disabled! You will be hidden in tutoring searches.</p>
	{% endif %}

  </div>
</div>
{% endblock %}

{% block script %}<script src="{% static 'main/profile.js' %}"
                          defer
                          data-username="{{ user.username }}" 
						  data-zip="{{user.zip_code}}"
						  data-pay="{{user.tutoring_pay}}"></script>{% endblock %}
