{% extends 'base.html' %}
{% load static %}

{% block title %}{{ group.name }}{% endblock %}



{% block content %}
<div class="outer">
  <div class="maindiv">
    {% if request.user not in group.user_list.all %}
      {% if request.user in group.invitations.all %}
      <div class="join_group" style="float: right;">
        <a class="anchorbutton" href="{% url 'join_group' group.id %}" style="float: right;">Click to Join</a>
      </div>
      {% elif request.user in group.requests.all %}
      <div class="join_group" style="float: right;">
        <button class="clickedbutton" id="joinbutton" style="float: right;">Request Sent</button>
      </div>
      {% else %}
      <div class="join_group" style="float: right;">
        <button class="anchorbutton" id="joinbutton" onclick="requestJoin({{ group.id }});" style="float: right;">Request to Join this Group</button>
      </div>
      {% endif %}
    {% elif request.user != group.owner %}
    <div class="join_group" style="float: right;">
      <button class="anchorbutton" style="float: right;" onclick="leave();">Leave Group</button>
    </div>
    {% endif %}
    <div class="center text-center">
      <h1>{{ group.name }}</h1>
      <h4>Group Owner: <a href="{% url 'profile' group.owner.username %}" class="userlink">{{ group.owner.username }}</a></h4>
    </div>
    <div class="sidebyside" style="background: #DDF; width: 97%; margin: auto;">
      <div class="description innersidebyside" style="background: #E8E8FF;">
        <h3>Description</h3>
        <div id="desc">
          <p id="desc_text">{{ group.description }}</p>
          {% if request.user == group.owner %}
          <button id="b1" onclick="editDesc();">Edit Description</button>
          {% endif %}
        </div>
      </div>
      <div class="userlist center innersidebyside">
        <div id="userlist">
          <h3>User List</h3>
          {% for usr in group.user_list.all %}
            <div class="list2" id="listusr{{ usr.id }}">
              <div style="width: 90%; padding: 7px; margin-left: 10px;"><a href="{% url 'profile' usr.username %}" class="userlink">{{ usr.username }}</a></div>
              {% if request.user == group.owner and usr != group.owner %}
                <button style="min-width: 80px;" onclick="kick({{ usr.id }}, '{{ usr.username }}')">Kick User</button>
              {% endif %}
            </div>
          {% endfor %}
          {% if request.user == group.owner %}
          <div class="list2" id="invitestuff">
            <div style="width: 40%; padding: 3px; margin-left: 10px;"><input type="text" name="inviteuser" id="inviteuser" style="width: 98%;" maxlength=50 placeholder="username"/></div>
            <div style="width: 20%; text-align: center;"><button style="min-width: 80px; padding: 4px; margin: auto;" onclick="invite();">Send Invite</button></div>
            <div style="width: 40%; color: #447; word-break: break-all" id="invite_text"></div>
          </div>
          {% endif %}
        </div>
        {% if request.user == group.owner %}
        <div id="requestlist">
        <h3>Requests<span style="display: none;" id="num_requests">{{ group.requests.all.count }}</span></h3>
          {% if group.requests.all %}
            {% for usr in group.requests.all %}
            <div class="list2" id="request{{ usr.id }}">
              <div style="width: 90%; padding: 7px; margin-left: 10px;"><a href="{% url 'profile' usr.username %}" class="userlink">{{ usr.username }}</a></div>
                <button onclick="accept({{ usr.id }}, '{{ usr.username }}');" style="min-width: 80px;">Accept</button>
                <button onclick="reject({{ usr.id }});" style="min-width: 80px;">Reject</button>
            </div>
            {% endfor %}
          {% else %}
          <div class="list2">
            <div style="width: 90%; padding: 7px; margin-left: 10px;">None</div>
          </div>
          {% endif %}
        </div>
        {% endif %}
      </div>
    </div>
    {% if request.user in group.user_list.all %}
    <div class="center text-center">
      <a class="anchorbutton" href="{% url 'make_post' group.id %}">Make Post</a>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block script %}<script src="{% static 'main/view_group.js' %}"
                          defer
                          data-groupid="{{ group.id }}"
                          data-groupname="{{ group.name }}"></script>{% endblock %}
